/* This stylesheet is used to style the admin option form of the plugin. */

.form-field input, .form-field textarea {
	
	width: auto;

}

.faf-name-li, .faf-type-li {
	display: block;
	text-align: left;
	float: left;
	line-height: 2.7em;
	margin: 0 1.5em;
	font-weight: bold;
	font-size: 1.2em;
	
}
.faf-name-li:before {
	content: 'Name: ';
	font-weight: normal;
}

.faf-type-li:before {
	content: 'Type: ';
	font-weight: normal;
}

.form-maker-select {
	width: 280px;
}

.form-field > th {
	text-align: left;
	margin-right: 3em;

}
	#form-maker {
		width: 95%;
		position: relative;
		clear: both;
		min-height: 100%;
	}
	#canvas {
		width: 85%;
		float: left;
		position: relative;
		min-height: 300px;
	    border: 2px dashed #ccc;
	    -webkit-border-radius: 1em;
	    -moz-border-radius: 1em;
	    border-radius: 1em;
	    padding: 1em;
	    margin-bottom: 10px;

	}
	#form-maker:after{
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 30px;
	}
	.wrap:after{
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 30px;
	}
	#canvas li {
		width: 70px;
		border: black solid 1px;
		margin: 1em;
		padding: 3px 10px 3px 10px;
		text-align: right;
		
	}
	#canvas li:hover {
		width: 70px;
		border: black solid 1px;
		padding: 3px 10px 3px 10px;
		
	}
	#canvas-drop {
		position: relative;
		margin: 1em;
		padding: 1em 2em;
		min-height: 300px;
		width: 91%;

	}
	.faf-field-description {
		font-size: .75em !important;	
	}
	.edit-field-button {
		background-color: white;
		border: 1px blue solid;
		padding: 2px 2em;
		font-size: .9em;
		font-family: Arial, sans-serif;
		color: blue;
		margin: .75em 1em 0 2em;
		
	}
	.edit-field-button:hover {
		background-color: gray;
		cursor: pointer;
	}
	.canvas-element {
		width: 95% !important;
		height: 3em;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		padding: .35em 2em;
	}
	#palette {
		position: relative;
		float: left;
		min-height: 300px;
		text-align: right;
		
	}
	#palette li {
		padding: 3px 10px 3px 10px;
		border: 1px black solid;
		width: 70px;
		margin-left: 50%;
		cursor: move;
	}

    .placeholder {
    	min-height: 3em;
    	width: 95% !important;
    	border: none !important;
    	background-color: yellow;
    	opacity: .2;
    }

    tr.form-field > td > ul {
    	margin: .5em 0 0 0;
    }

    .faf-description {
    	display: block;
    	font-size: .8em;
    	margin-top: .35em;
    	opacity: .85;
    	cursor: help;
    }

	.faf-form-region {
		font-size: 1.35em;
	}

	.faf-form-region:after {
		content:' ';
		display: block;
		width: 80%;
		border-top: 1px dashed gray;
	}

	.faf-form-region-description {
		display: block;
		opacity: .85;	
	}

	.faf-form-region-description:after {
			
	}

	.ui-dialog {
	    font-family: "Open Sans", sans-serif;
	    max-width: 80% !important;
	    max-height: 80% !important;
	    width: 70%;
	    overflow: scroll;
	    border: 3px solid #888;
	    -webkit-border-radius: 1em;
	    -moz-border-radius: 1em;
	    border-radius: 1em;
	    cursor: default;
	    }

	.ui-button {
		text-align: center;
		width: 100px;
		line-height: 1.5em;
		margin: 0 .35em;		
	}
	.ui-dialog-titlebar {
	    text-align: center !important;
	    background-color: #bbb !important;
	    font-size: 2em;
	    line-height: 1.8em;
	    border-bottom: #888 solid 2px;
    }
	.ui-dialog-content {
	}
	.dlg-no-title .ui-dialog-titlebar { display: none }
	.ui-dialog-buttonset {
		text-align: right;
		padding: .5em 1em;
		background-color: #BBB;
		position: relative;
		border-top: #888 solid 2px;
	}
	#dialog {
	    padding: 2em;
	    background-color: white;
	    height: 200px;
	    overflow: scroll;
    }
	.ui-button-icon-only {
		display: none;
	}
	.ui-state-hover {
		
	}